{% extends 'base.html' %}

{% block page_title %}Advanced Stats | HonBot {% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="span12 well">
            <legend>Builds</legend>
            {% for player in data.ability_upgrade %}
                {% for move in player %}
                    {{ forloop.counter }}
                    {{ move }}
                {% endfor %} <br>
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="span12 well">
            Match: {{ data.match_id }} <br>
            Date: {{ data.date }} <br>
            Time: {{ data.time }} <br>
            Server: {{ data.server }} <br>
            Version: {{ data.version }} <br>
            Map: {{ data.map }} <br>
            Mode: {{ data.mode }} <br>
            Players: {{ data.players }} <br>
            Spectators: {{ data.spectators }} <br>
            Team: {{ data.team }} <br>
            ID: {{ data.id }} <br>
            PSR: {{ data.psr }} <br>
            Hero: {{ data.hero }} <br>
            Item:  data.items  <br>
            Ability: {{ data.ability_upgrade }}  <br>
        </div>
    </div>
</div>

{% endblock main_content %}