<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block page_title %}{% endblock %}</title>
    <meta name="description" content="Stats for Heroes of Newerth">
    <meta name="distribution" content="global">
    <link href="/static/css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/static/css/bootstrap-responsive.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="/static/css/overrides.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <link rel="apple-touch-icon-precomposed" href="/static/apple-touch-icon.png" />
    {% block headers %}{% endblock %}
</head>

<body>
<div id="wrap">
    <header class="navbar navbar-inverse navbar-static-top"> <!-- alternative navbar navbar-inverse navbar-static-top -->
        <nav class="navbar-inner">
            <div class="container">
                <a href="/" class="brand">HonBot</a>
                <ul class="nav">
                    <li>
                        <form accept-charset="UTF-8" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" action="/players/" class="navbar-form" id="player_search"
                              method="post">
                            <input class="search-query" id="player" name="player" placeholder="Player Search" type="text"
                                   value="" autofocus/>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    {% block main_content %}{% endblock main_content %}
    <div id="push"></div>
</div>
<footer class="footer">
    <small class="muted">
        <p><a href="https://github.com/scttcper/honbot-django">source code</a> | 
        <a href="https://www.facebook.com/honbott">facebook page</a></p>
        <p><small>honbot.com &copy;<a href="https://github.com/scttcper"> Scott Cooper</a></small></p>
    </small>
</footer>
</body>
<script>
    $("#player_search").submit(function () {
        var player = $('#player').val();
        window.location.href = "/player/" + player + "/"
        return false
    });
</script>
</html>