{% extends 'base.html' %}

{% block page_title %}Chat Logs | {% endblock %}

{% block main_content %}
<div class="container">
    <div class="row">
        <div class="span12 well">
            {% for l in logs %}
                [{{ l.time }}]
                [{% if l.target == "Hellborne" %}<span class="text-error">{% elif l.target == "Legion" %}<span class="text-success">{% elif l.target == "All" %}<span class="text-info">{% endif %}{{l.target}}</span>]
                <strong>{{ l.name }}</strong>: {{ l.msg }}<br>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock main_content %}
