{% extends 'base.html' %}

{% block page_title %}HonBot | HoN stats, players, matches, chat logs {% endblock %}

{% block main_content %}
<div class="jumbotron masthead">
    <div class="container">
        <h1 class="dropshadow">HonBot</h1>
        <p class="hidden-phone">Stats, Chat, Graphs for Heroes of Newerth</p>
    </div>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="offset4 span4 marketing stats-title well well-small">
            <h2>Popular Players</h2>
            <hr class="soften">
            <ul class="unstyled">
                <li><a href="/player/moonmeander%60/">MoonMeander`</a></li>
                <li><a href="/player/Tralfamadore/">Tralfamadore</a></li>
                <li><a href="/player/zfreek/">Zfreek</a></li>
                <li><a href="/player/sLiCKz/">sLiCKz</a></li>
                <li><a href="/player/AngryTestie/">AngryTestie</a></li>
                <li><a href="/player/tremblerape/">Tremblerape</a></li>
            </ul>
            <small class="muted">Think you should be listed? <a href="http://forums.heroesofnewerth.com/private.php?do=newpm&u=3258111"> pm me </a></small>
        </div>
    </div>
</div>
{% endblock main_content %}