{% extends 'base.html' %}
{% block main_content %}
<header class="jumbotron subhead" id="overview">
    <div class='container'>
        {% if stats.players.0.win %}
            <h1 class="text-success">Legion Wins!</h1>
        {% else %}
            <h1 class="text-error">Hellbourne Wins!</h1>
        {% endif %}
        <p class="lead">
            <span>{{ match_id }}</span>
            <span class="muted">|</span>
            <span class="muted">Length: {{ stats.matchlength }}min</span>
        </p>
    </div>
</header>
<br>
<div class='container'>
    <div class="row">
        <div class="span12 well well-small marketing stats-title">
            <table class="table table-condensed table-striped" id="no-more-tables">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Items</th>
                        <th>lvl</th>
                        <th>K</th>
                        <th>D</th>
                        <th>A</th>
                        <th>KDR</th>
                        <th>CK</th>
                        <th>CD</th>
                        <th>GPM</th>
                        <th>XP</th>
                        <th>APM</th>
                        <th>W</th>
                    </tr>
                </thead>
                <tbody>
                {% for m in stats.players %}
                {% if m.position == '5' %}</tbody><tbody>{% endif %}
                    <tr>
                        <td data-title="Player">
                            <img src='/static/img/p/{{ m.position }}.jpg'>
                            <img src='/static/img/heroes/{{ m.hero }}/icon_128.jpg' width=30> 
                            <a href="../../player/{{ m.nickname }}">
                                {{ m.nickname }} 
                            </a>
                        </td>
                        <td data-title="Items">
                            {% for i in m.items %}
                                {% if i %}
                                <img src='/static/img/items/{{ i }}.jpg' width=30>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td data-title="lvl">{{ m.level }}</td>
                        <td data-title="Kills">{{ m.kills }}</td>
                        <td data-title="Deaths">{{ m.deaths }}</td>
                        <td data-title="Assists">{{ m.assists }}</td>
                        <td data-title="KDR">{{ m.kdr }}</td>
                        <td data-title="CK">{{ m.cs }}</td>
                        <td data-title="CD">{{ m.denies }}</td>
                        <td data-title="GPM">{{ m.gpm }}</td>
                        <td data-title="XP">{{ m.xpm }}</td>
                        <td data-title="APM">{{ m.apm }}</td>
                        <td data-title="Wards">{{ m.wards }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class='container'>
    <div class="row">
        <div class="span12 well well-small marketing">
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li class="active"><a href="#tab1" data-toggle="tab">GPM</a></li>
                    <li><a href="#tab2" data-toggle="tab">APM</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab1">
                        <div class="row">

                        <div class="span6 stats-title">
                            <h4>Legion GPM</h4>
                            <div id="lgpm" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
                        </div>
                        <div class="span6 stats-title">
                            <h4>Hellborne GPM</h4>
                            <div id="hgpm" style="min-width: 300px; height: 300px; margin: 0 auto"></div>
                        </div></div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <p>Howdy, I'm in Section 2.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
//legion gpm
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'lgpm',
                backgroundColor: null,
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.y + 'gpm';
                        }
                    }
                }
            },
            title: {
               text: ''
            },
            credits: {
                enabled: false
            },
            series: [{
                type: 'pie',
                name: 'GPM',
                data: [
                    ['{{ stats.players.0.nickname }}', {{ stats.players.0.gpm }}],
                    ['{{ stats.players.1.nickname }}', {{ stats.players.1.gpm }}],
                    ['{{ stats.players.2.nickname }}', {{ stats.players.2.gpm }}],
                    ['{{ stats.players.3.nickname }}', {{ stats.players.3.gpm }}],
                    ['{{ stats.players.4.nickname }}', {{ stats.players.4.gpm }}]
                ]
            }]
        });
    });
    
});
//hellborne gpm
$(function () {
    var chart;
    $(document).ready(function() {
        chart = new Highcharts.Chart({
            chart: {
                renderTo: 'hgpm',
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
            },
            title: {
                text: 'Browser market shares at a specific website, 2010'
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage}%</b>',
                percentageDecimals: 1
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Browser share',
                data: [
                    ['Firefox',   45.0],
                    ['IE',       26.8],
                    {
                        name: 'Chrome',
                        y: 12.8,
                        sliced: true,
                        selected: true
                    },
                    ['Safari',    8.5],
                    ['Opera',     6.2],
                    ['Others',   0.7]
                ]
            }]
        });
    });
    
});
</script>

{% endblock main_content %}