{% extends 'base.html' %}
{% block main_content %}
<header class="jumbotron subhead" id="overview">
    <div class='container-fluid'>
        <h2>{{ match_id }}</h2>
        <p class="lead">
            <span class="text-success">W: {{ stats.wins }}</span> <span class="muted">|</span>
            <span class="muted">Length: {{ stats.matchlength }}min</span>
        </p>
    </div>
</header>
<br>
<div class='container-fluid'>
    <div class="row-fluid">
        <div class="span12 well well-small marketing stats-title">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Items</th>
                        <th>Lvl</th>
                        <th>K</th>
                        <th>D</th>
                        <th>A</th>
                        <th>KDR</th>
                        <th>CK</th>
                        <th>CD</th>
                        <th>XP</th>
                        <th>APM</th>
                        <th>Wards</th>
                    </tr>
                </thead>
                <tbody>
                {% for m in stats.players %}
                {% if m.position == '5' %}</tbody><tbody>{% endif %}
                    <tr>
                        <td>
                            <img src='/static/img/p/{{ m.position }}.jpg'>
                            <img src='/static/img/heroes/{{ m.hero }}/icon_128.jpg' width=30> 
                            <a href="../../player/{{ m.nickname }}">
                                {{ m.nickname }} 
                            </a>
                        </td>
                        <td>
                            {% for i in m.items %}
                                {% if i %}
                                <img src='/static/img/items/{{ i }}.jpg' width=30>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td>{{ m.level }}</td>
                        <td>{{ m.kills }}</td>
                        <td>{{ m.deaths }}</td>
                        <td>{{ m.assists }}</td>
                        <td>{{ m.kdr }}</td>
                        <td>{{ m.cs }}</td>
                        <td>{{ m.denies }}</td>
                        <td>{{ m.xpm }}</td>
                        <td>{{ m.apm }}</td>
                        <td>{{ m.wards }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{{ stats }}
{% endblock main_content %}