{% extends 'base.html' %}
{% block main_content %}
<header class="jumbotron subhead" id="overview">
    <div class='container'>
        <h1>{{ match_id }}</h1>
        <p class="lead">
            {% if stats.players.0.win %}
                <span class="text-success">Legion Wins!</span>
            {% else %}
                <span class="text-error">Hellbourne Wins!</span>
            {% endif %}
            <span class="muted">|</span>
            <span class="muted">Length: {{ stats.matchlength }}min</span>
        </p>
    </div>
</header>
<br>
<div class='container'>
    <div class="row">
        <div class="span12 well well-small marketing stats-title">
            <table class="table table-condensed table-striped" id="no-more-tables">
                <thead>
                    <tr>
                        <th>Player</th>
                        <th>Items</th>
                        <th>lvl</th>
                        <th>K</th>
                        <th>D</th>
                        <th>A</th>
                        <th>KDR</th>
                        <th>CK</th>
                        <th>CD</th>
                        <th>GPM</th>
                        <th>XP</th>
                        <th>APM</th>
                        <th>W</th>
                    </tr>
                </thead>
                <tbody>
                {% for m in stats.players %}
                {% if m.position == '5' %}</tbody><tbody>{% endif %}
                    <tr>
                        <td data-title="Player">
                            <img src='/static/img/p/{{ m.position }}.jpg'>
                            <img src='/static/img/heroes/{{ m.hero }}/icon_128.jpg' width=30> 
                            <a href="../../player/{{ m.nickname }}">
                                {{ m.nickname }} 
                            </a>
                        </td>
                        <td data-title="Items">
                            {% for i in m.items %}
                                {% if i %}
                                <img src='/static/img/items/{{ i }}.jpg' width=30>
                                {% endif %}
                            {% endfor %}
                        </td>
                        <td data-title="lvl">{{ m.level }}</td>
                        <td data-title="Kills">{{ m.kills }}</td>
                        <td data-title="Deaths">{{ m.deaths }}</td>
                        <td data-title="Assists">{{ m.assists }}</td>
                        <td data-title="KDR">{{ m.kdr }}</td>
                        <td data-title="CK">{{ m.cs }}</td>
                        <td data-title="CD">{{ m.denies }}</td>
                        <td data-title="GPM">{{ m.gpm }}</td>
                        <td data-title="XP">{{ m.xpm }}</td>
                        <td data-title="APM">{{ m.apm }}</td>
                        <td data-title="Wards">{{ m.wards }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class='container'>
    <div class="row">
        <div class="span12 well well-small marketing">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>
</div>
<script>
var data = {
    labels : ["January","February","March","April","May","June","July"],
    datasets : [
        {
            fillColor : "rgba(220,220,220,0.5)",
            strokeColor : "rgba(220,220,220,1)",
            data : [65,59,90,81,56,55,40]
        },
        {
            fillColor : "rgba(151,187,205,0.5)",
            strokeColor : "rgba(151,187,205,1)",
            data : [68,48,40,59,-100,127,100]
        }
    ]
}

var options = { animation : false };

//Get the context of the canvas element we want to select
var ctx = document.getElementById("myChart").getContext("2d");
var myNewChart = new Chart(ctx).Bar(data,options);

</script>

{% endblock main_content %}