/* Sticky Footer
-------------------------------------------------- */

html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -101px;
}

#push,
.footer {
    padding-top: 30px;
    height: 70px;
    text-align: center;
}
.footer{
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}

@media (max-width: 767px) {
.footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
    }
}

.footer p {
    margin-bottom: 0;
    color: #777;
}

.footer-links {
    margin: 10px 0;
}

/* Faded out hr */
hr.soften {
  height: 1px;
  margin: 5px 0;
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,.1), rgba(0,0,0,0));
  border: 0;
}


/*  Custom classes */

.dropshadow {
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

body {
    background-image: url('/static/img/white_plaster.png');
}

.stats-title {
    text-align: center;
}

.alert{
    width: 99%;
}

.recent-match tr:hover {
    background-color: #D2DEE8 !important;
}

.recent-match td{
    vertical-align: middle;
    cursor: pointer;
}

.hero-small {
    height: 30px;
}

.hero-table td {
    vertical-align: middle;
    display: table-cell;
}

.navbar {
    padding-bottom: 20px;
}

.login-container {
    margin: 0 auto;
    width: 275px; /* Whatever exact width you are looking for (not bound by preset bootstrap widths) */
}

.login-container .control-group {
    margin: 0px;
    width: 500px;
}

small a {
    color: #808080;
}

.breadcrumb {
    border-radius: 0px;
    border: 1px solid;
    border-color: rgb(227, 227, 227);
}

.form-actions {
    background-color: rgb(249, 249, 249);
}

.well {
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.navbar-inverse .navbar-inner {
    background-color: #0f0f0f;
    border-color: #333333;
    background-image: none;
}

.navbar .nav li a:hover {
    background-color: #111111;
}

/* Add additional stylesheets below
-------------------------------------------------- */
/*
  Bootstrap's documentation styles
  Special styles for presenting Bootstrap's documentation and examples
*/

/* Body and structure
-------------------------------------------------- */

body {
    position: relative;
    padding-top: 0px;
}

/* Code in headings */
h3 code {
    font-size: 14px;
    font-weight: normal;
}

/* Tweak navbar brand link to be super sleek
-------------------------------------------------- */

body > .navbar {
    font-size: 13px;
}

/* Change the docs' brand */
body > .navbar .brand {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .125);
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    padding-left: 25px;
}

body > .navbar .brand:hover {
    text-decoration: none;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .1), 0 0 30px rgba(255, 255, 255, .4);
}

/* Jumbotrons
-------------------------------------------------- */

/* Base class
------------------------- */
.jumbotron {
    position: relative;
    color: #fff;
    text-align: center;
    margin-top: -20px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}

.jumbotron h1 {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1;
}

.jumbotron p {
    font-size: 24px;
    font-weight: 300;
    line-height: 1.25;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
    color: #fff;
    color: rgba(255, 255, 255, .5);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.jumbotron a:hover {
    color: #fff;
    text-shadow: 0 0 10px rgba(255, 255, 255, .25);
}

/* Pattern overlay
------------------------- */
.jumbotron .container {
    position: relative;
    z-index: 2;
}

.jumbotron:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('/static/img/classy_fabric.png') repeat center center;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (   min--moz-device-pixel-ratio: 2), only screen and (     -o-min-device-pixel-ratio: 2/1) {

    .jumbotron:after {
        background-size: 150px 150px;
    }

}

/* Masthead (docs home)
------------------------- */
.masthead {
    padding: 70px 0 100px;
    color: #fff;
}

.masthead h1 {
    font-size: 10px0px;
    line-height: 1;
    letter-spacing: -2px;
}

.masthead p {
    font-size: 40px;
    font-weight: 200;
    line-height: 1.25;
}

/* Textual links in masthead */
.masthead-links {
    margin: 0;
    list-style: none;
}

.masthead-links li {
    display: inline;
    padding: 0 10px;
    color: rgba(255, 255, 255, .25);
}

/* Subhead (other pages)
------------------------- */
.subhead {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.subhead h1 {
    font-size: 50px;
}

.subhead p {
    margin-bottom: 20px;
}

.subhead .navbar {
    display: none;
}

/* Marketing section of Overview
-------------------------------------------------- */

.marketing {
    color: #5a5a5a;
}

.marketing h1 {
    font-size: 60px;
    font-weight: 200;
    line-height: 1;
    letter-spacing: -1px;
}

.marketing h2 {
     font-weight: 200;
     margin-bottom: 5px;
 }
.marketing h4 {
    font-weight: 200;
}
.marketing h5 {
    font-weight: 200;
}

.marketing p {
    font-size: 16px;
    line-height: 1.5;
}

.marketing .marketing-byline {
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.25;
    color: #999;
}

.marketing-img {
    display: block;
    margin: 0 auto 30px;
    max-height: 145px;
}

/* Responsive
-------------------------------------------------- */

/* Desktop
------------------------- */
@media (max-width: 980px) {
    /* Unfloat brand */
    body > .navbar-fixed-top .brand {
        float: left;
        margin-left: 0;
        padding-left: 0px;
        padding-right: 0px;
    }
}

/* Tablet to desktop
------------------------- */
@media (min-width: 768px) and (max-width: 979px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    /* Widen masthead and social buttons to fill body padding */
    .jumbotron {
        margin-top: -20px; /* Offset bottom margin on .navbar */
    }
}

/* Tablet
------------------------- */
@media (max-width: 767px) {
    /* Remove any padding from the body */
    body {
        padding-top: 0;
    }

    /* Widen masthead and social buttons to fill body padding */
    .jumbotron {
        padding: 40px 20px;
        margin-top: -20px; /* Offset bottom margin on .navbar */
        margin-right: -20px;
        margin-left: -20px;
    }

    .masthead h1 {
        font-size: 90px;
    }

    .masthead p,
    .masthead .btn {
        font-size: 24px;
    }

    .marketing .span4 {
        margin-bottom: 40px;
    }
    /* Unfloat the back to top link in footer */
    .footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .footer p {
        margin-bottom: 9px;
    }
}

/* Landscape phones
------------------------- */
@media (max-width: 480px) {
    /* Remove padding above jumbotron */
    body {
        padding-top: 0;
    }

    /* Change up some type stuff */
    h2 small {
        display: block;
    }

    /* Downsize the jumbotrons */
    .jumbotron h1 {
        font-size: 45px;
    }

    .jumbotron p,
    .jumbotron .btn {
        font-size: 18px;
    }

    .jumbotron .btn {
        display: block;
        margin: 0 auto;
    }

    /* center align subhead text like the masthead */
    .subhead h1,
    .subhead p {
        text-align: center;
    }

    /* Marketing on home */
    .marketing h1 {
        font-size: 30px;
    }

    .marketing-byline {
        font-size: 18px;
    }

    /* center example sites */
    .example-sites {
        margin-left: 0;
    }

    .example-sites > li {
        float: none;
        display: block;
        max-width: 280px;
        margin: 0 auto 18px;
        text-align: center;
    }

    .example-sites .thumbnail > img {
        max-width: 270px;
    }

    /* Do our best to make tables work in narrow viewports */
    table code {
        white-space: normal;
        word-wrap: break-word;
        word-break: break-all;
    }
    /* Tighten up footer */
    .footer {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}